/* Framework */

h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

button {
    cursor: pointer;
}

button:focus,
button:active {
    outline: 0;
}

.page-link {
    color: #17a2b8;
}

.page-link:hover {
    color: #333;
}

.progress-bar {
    height: 3px;
}

.navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, .6)
}


/* Helpers */
.row-gutter-5 {
    margin: 0 -5px;
}

.row-gutter-5>div {
    padding: 0 5px;
}

/* Layout */

.header-icon {
    font-size: 40px;
}

.header-title {
    font-size: 30px;
}

.header-caption {
    margin-top: -5px;
}

.subheader-icon {
    font-size: 100px;
}

.subheader-title {
    font-size: 30px;
}
